* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

body {
  font-weight: normal;
  max-width: 1440px;
  height: 100vh;
  overflow-x: hidden;
}
